/* .content and .content-box */
.content{
  position:absolute;
  top:calc(var(--navbar-h) + var(--logo-h) + calc(var(--logo-padding) * 2));
  width:100%;
  left:0;
}
.content-box{
  background-color:white;
  color:var(--gray);
  font-family:sans-serif;
  width:70%;
  margin:auto;
  margin-bottom:250px;
  padding:0 30px 20px 30px;
  box-shadow:-2px 2px black;
  border:solid 2px black;
}

/* .content-box general children */
.content-box h1{
  display:inline-block;
  color:var(--green);
  font-weight:bold;
}
.content-box .sponsor{
  height:100px;
  width:auto;
}
.content-box .icon{
  height:100px;
  width:auto;
}
.content-box a{
  transition:color 0.2s ease;
  text-decoration:none;
  color:var(--dkBlue);
}
.content-box a:hover{
  color:var(--blue);
}

/* .content-box special children */
.content-box table{
  text-align:center;
}
.content-box td{
  padding:0 15px;
}
.content-box .profile{
  border-radius:25px;
  height:200px;
  width:auto;
}
