<table>
  <tr>
    <td>9am</td>
    <td>Sign In/Registration</td>
  </tr>
  <tr>
    <td>10am</td>
    <td>Opening Ceremony</td>
  </tr>
  <tr>
    <td>11am</td>
    <td>Coding Basics - Chidi Udeze</td>
  </tr>
  <tr>
    <td>12pm</td>
    <td>Lunch</td>
  </tr>
  <tr>
    <td>1pm</td>
    <td>Zuri Hunter - Being a DC Tech Professional</td>
  </tr>
  <tr>
    <td>2pm</td>
    <td>AR Demo - Soumya Pattanayak and Brian McDevitt</td>
  </tr>
  <tr>
    <td>3pm</td>
    <td>Building Twitter Bots - Tami Olafunmiloye</td>
  </tr>
  <tr>
    <td>4pm</td>
    <td>Intro to Networking - Luis Pavon</td>
  </tr>
  <tr>
    <td>5pm</td>
    <td>Machine Learning with Python - Brian Servia</td>
  </tr>
  <tr>
    <td>6pm</td>
    <td>Dinner</td>
  </tr>
  <tr>
    <td>7pm</td>
    <td>Hacking Ends Soon</td>
  </tr>
  <tr>
    <td>8pm</td>
    <td>Closing Ceremony and Awards</td>
  </tr>
  <tr>
    <td>9pm</td>
    <td>End of Event</td>
  </tr>
</table>

<style>

table{
  box-shadow:-1px 1px 2px var(--gray);
  border-spacing:0;
  text-align:left;
  width:100%;
}
td{
  padding:2px;
}
tr:not(:last-of-type) td{
  border-bottom:solid 1px var(--gray);
}
tr:nth-of-type(2n){
  background-color:#e5e5e5;
}

</style>
