.person{
  position:absolute;
  z-index:-1;
}

.person.nicholas-lugo{
  width:100px;
  left:-52px;
  top:-130px;
}
.person.waving{
  height:150px;
  right:0;
}
.person.thumbs-up{
  height:200px;
  top:-200px;
  right:25px;
}
